@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #ffdaa1; //!important;
  position: fixed;
  z-index:1;
  margin-bottom: 100px;
  top: 0;
  left:0;
  right:0;
}

.back {

  background-color: #2c698f;
  height: 500px;


}

.page {
  margin: 20px 0 5px 540px;
}

#drop {
  margin-bottom: 15px;
  margin-left: 5px;
}

.cont_general {
  margin-top: 100px;
  /*border-style:dotted;*/
  border-width: 5px;
  border-color:blue;
}

.nav-link:hover {
  background-color: #e3b39f;
}


.container-sm {
  overflow: hidden !important;
  position: fixed;
  margin: 80px;
}


.navbar-brand {
font-size: 1rem;
}

.card-header {
  background-color: #FDF6EB;
}

.cardcon-index {
  margin-top: 15px;
  margin-left: 310px;
}

.alert {
  margin-top: 10px;
}
.art_errors {
  margin-top: 5px;
  margin-right: 100px;
  margin-bottom: 10px;
}
#create_button {
  margin-top: 50px;
  margin-left: 520px;
  color: white;
  background-color: #ffdaa1;
}

#create_button:hover {
  background-color: #73695a;
}

.jumbotron {
  background-color: #e3b39f;
  margin: 80px;
}


#container-id {
  margin:auto;
  margin-left: 330px;
  margin-top: 20px;
  margin-top:10px;


}

.footer {
  background-color: #ffdaa1;
  height: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

}
