@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: #FDF6EB !important;
color: green;

}



.navbar-brand {
font-size: 1rem;
}

.card-header {
  background-color: #FDF6EB
}

#art_errors {
  margin-top: 20px;
}

#create_button {
  margin-top: 20px;
  margin-left: 520px;
}

.jumbotron {
  background-color: #e3b39f;
  margin: 20px;
}


.container {
  margin:auto;
  margin-left: 330px;
  margin-top: 20px


}
